<h1>Register Account</h1>

<form class="form">

  <fieldset class="input-with-icon">
        <input type="text" placeholder="👽 Your Name" required >
  </fieldset>

  <fieldset>
      <input type="text" placeholder="👥 Username" required>
  </fieldset>

  <fieldset>
       <input   type="email" placeholder="📩 Email" required>
  </fieldset>

  <fieldset>
        <input type="password" placeholder="Password" required >
  </fieldset>

  <fieldset>
    <input type="password" placeholder="Confirm Password" required >
  </fieldset>
  <button type="submit">Register</button>
</form>
