
<div class="settings-container">
  <div class="theme-options">
    <span class="option">Dark</span>
    <label class="toggle-switch" >
      <input type="checkbox" (click) = "changeTheme()"/>
      <span class="slider"></span>
    </label>
    <span id="white-theme">White</span>
  </div>
  <!-- (click)="toggleTheme()" -->
  <h1 class="title">STATS MENSUELLES</h1>
  <h1 class="title">SETTINGS</h1>
  <div class="sub-section">
    <h2 class="subtitle">LOGIN</h2>
    <h2 class="subtitle">SIGN IN</h2>
  </div>
  <hr class="separator" />
  <h3 class="section-title">Favoris</h3>
  <hr class="separator" />
  <h3 class="section-title">Réseaux</h3>
  <hr class="separator" />
  <h3 class="section-title">What's your gender?</h3>

  <div class="gender-options">
    <span class="option" >Male</span>
    <label class="toggle-switch" class="male">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
  </div>
  <div class="gender-options">
    <span class="option" >Female</span>
    <label class="toggle-switch" class="female">
      <input type="checkbox" />
      <span class="slider" ></span>
    </label>
  </div>
  <div class="gender-options">
    <span class="option" >Vegan</span>
    <label class="toggle-switch" class="vegan">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
  </div>

</div>

