<header>
  <div class="logo" (click)="toHome()">
    <img src="assets/logo_final.png" alt="Logo moodpop" />
  </div>
  <button class="setting hidden" (click)="showProfile()">
    <img src="/assets/profilBlanc.png" height="30" />
  </button>
  <div class="menu-toggle">
    <button class="toggle hidden" (click)="toggleMenu()">
      {{ isMenuOpen ? "X" : "☰" }}
    </button>
  </div>
  <ul class="menu">
    <app-log-in (SignIn)="onSignIn($event)"></app-log-in>
    <hr />
    <li><a (click)="toHappy()">Happy</a></li>
    <li><a (click)="toAngry()">Insults</a></li>
    <li><a (click)="toUnmotivated()">Unmotivated</a></li>
    <li><a (click)="toBored()">Riddles</a></li>
    <li>
      <button class="setting2" (click)="showProfile()">
        <img src="/assets/profilBlanc.png" height="40" />
      </button>
    </li>
  </ul>
</header>
