header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2f2f;
  padding: 10px;
  height: 90px;
  width: 100%;
  min-width: 375px;
}



.logo img {
  height: 90px;
  width: 90px;
  cursor: pointer;
}



.menu-toggle .toggle {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 20px;
  top: 33px;
}



.menu {
  display: none;
}


.menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.setting {
  position: absolute;
  right: 65px;
  top: 40px;
  border: none;
  cursor: pointer;
  background: none;
}

@media screen and (min-width : 800px) {
  header{
    top: 0px;
    position: sticky;
    width : 15%;
    height: 100vh;
    min-width: 100px;
    .logo{
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }
  .hidden{
    display: none;
  }

  .setting{
    top : 15%;
    left : 50%;
  }


  
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 100%;
    position: absolute;
    top : 20%;
    right: 0px;
    list-style: none;
    li{
      font-size: 1.4rem;
      text-shadow: 3px 3px 6px #000;
    }
    li:hover{
      transform: scale(1.1);
    }
  }

  .setting2 {
    border: none;
    cursor: pointer;
    background: none;
  }
}