header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2f2fcc;
  padding: 10px;
  height: 90px;
  width: 100%;

}



.logo img {
  height: 90px;
  width: 90px;
}



.menu-toggle button {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  margin-right: 20px;
}



.menu {
  display: none;
}





.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.setting {
  position: absolute;
  right: 50px;
  border: none;
  cursor: pointer;
  background: none;
}
