<footer>
    <fieldset>
      <ul class="social-icons">
        <li>
          <a href="https://twitter.com/?lang=fr" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/?lang=fr" target="_blank">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/?lang=fr" target="_blank">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
        </li>
      </ul>
    </fieldset>
    <ul class="footer-links">
      <li>
        <a href="https://www.instagram.com/" target="_blank">Mentions légales</a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">CGU</a>
      </li>
    </ul>
  </footer>
  
