ul {
  list-style-type: none;
  padding: 0;



 }
 li {
  margin-bottom: 30px; /* Ajustez la valeur en fonction de la hauteur du pied de page */
  border: 1px solid black;
  width: 45%;
  margin: auto;
  margin-bottom: 60px;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  background: radial-gradient(#f1f1f1, #a3eef4);  color: black;

}

li:hover {
  transform: scale(1.1) ;
  cursor: pointer;
}



.catégories{

  background-color: rgba(84, 77, 86, 0.52);
  text-align: center;
}

.setting {
  position: absolute;
  right: 50px;
  top: 142px;
  width: 20px;
  height: 20px;
  background-image: url('/assets/profilBlanc.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.setting.show {
  display: block;
}

h1{
  text-align: center;
  color: white;
  margin-bottom: 10%;
  text-decoration:underline

}

.separator {
  width: 70%;
}
