<div class="body">

<section>
  <div class="icon">
    <img src="assets/citationViolette.png" alt="citation">
  </div>
  <div class="quotCit">
    <p>{{quote}}</p>
    <button (click)="fetchQuoteFact()">Get Quote</button>
  </div>
</section>
<span>
  <br>
  <br>
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sed libero, debitis dolore tempora explicabo, ullam ratione veniam fugit in ducimus quasi. Quas iure neque repellat, est alias voluptatum accusantium.
  Repudiandae cumque officiis neque impedit quam assumenda consequuntur voluptatem incidunt reiciendis. Mollitia dolores voluptatem, assumenda aperiam aut reprehenderit enim tempora illum, earum nulla molestias pariatur accusantium cumque optio dolore voluptate!
  Illum tempore iste modi deserunt incidunt harum commodi ut quaerat sit, vel amet dicta optio, nemo aliquid sapiente quos! Nesciunt obcaecati maiores cum doloremque fugiat aspernatur ut repellat autem quia.
  Expedita id illum adipisci ipsam amet, perspiciatis assumenda placeat repellat blanditiis provident eius laborum nobis, alias ullam dolore! Nihil, enim sed. Nostrum earum unde excepturi, corrupti voluptatem quod officiis suscipit!
  Cum sunt, aliquid quos tenetur cupiditate veritatis consequatur, fuga ullam ipsam officia placeat vel accusantium officiis quae modi eum beatae, molestias quia reiciendis nobis consequuntur tempora unde. Iste, alias nulla.
  Error odio sunt ea assumenda neque, officiis totam quod consequuntur id quas dolores, voluptatum illum impedit qui sint ex ipsa? Accusamus aliquam minima cum repudiandae suscipit rem quibusdam perspiciatis libero!
  Quis, vero nihil. Corporis esse repellat veritatis adipisci libero sequi blanditiis asperiores porro, qui accusamus, minus dignissimos magni error quibusdam earum temporibus ipsam incidunt e, exercitationem.
</span>

</div>

