/*.body{
     background: #000000A1;
     height: 50%;
     padding-top: 40px;


}

span{
    color: #000000A1;
    margin-top: 50px;
}
*/

img {
    display: flex;
    justify-content: left;
    //align-items: left;
    align-items: start;
    justify-content: start;
    width: 50px;
    height: 50px;
    margin: 15px;
}

p {
    font-size: 15px;
    font-family: 'roboto';
    font-style: italic;
    font-weight: bold;
    color: black;
    margin: 10px 0 3px 0;

}

section {
    position: relative;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    background-color: #c6c2c2;
    border-radius: 10px;
    padding: 10px;
   /* margin: 20px 10px 100px 10px;*/
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.348);
    border: 2px solid rgb(0, 0, 0);
    max-width: 82%;
    max-height: 90px;
    margin: auto;


}


button {
  position: absolute;
  float: right;
  bottom: 10px;
  right: 10px;
  background: linear-gradient(to right, rgb(171, 81, 181), rgb(73, 21, 79), rgb(171, 81, 181));
  color: white;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: 10px;

}

button:hover {
    background-color: rgb(171, 81, 181);
    color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 30px rgb(171, 81, 181);
    transform: scale(1.1);
}

@media screen and (min-width: 800px) {
    section {
      position: relative;
      display: flex;
      flex-direction: inherit;
      align-items: start;
      background-color: #c6c2c2;
      border-radius: 10px;
      padding: 10px;
     /* margin: 20px 10px 100px 10px;*/
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.348);
      border: 2px solid rgb(0, 0, 0);
      max-width: 60%;
      max-height: 100px;
      margin: auto;
        p {
            font-size: 15px;
            font-family: 'roboto';
            font-style: italic;
            font-weight: bold;
            color: black;
            margin: 10px 0 3px 0;
            height: 60px;
        }
    }

    button {

        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: linear-gradient(to right, rgb(171, 81, 181), rgb(73, 21, 79), rgb(171, 81, 181));
        color: white;
        font-size: 15px;
        border-radius: 50px;
        padding: 10px 28px;


    }

    button:hover {
        background-color: rgb(171, 81, 181);
        color: white;
        border-radius: 5px;
        transform: scale(1.1);
    }

    img {
        display: flex;
        justify-content: left;
        align-items: left;
        align-items: start;
        justify-content: start;
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }

}
