.white-theme {
  background-color: whitesmoke;
  color: black;
}
.centerrouter{
  background-color: #544D56;
}

.hidden {
  display:none;
}

@media screen and (min-width : 800px) {
  .responsivedesign{
    display : flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

 app-profil{
  justify-self: center;
  align-self: center;
  width: 100%;
  margin: 0 35% 0 30%;
 }

  .centerrouter{
    width: 100%;
   background: url("/assets/rocheux.jpg") no-repeat center center fixed;
  background-size: cover;
  
   
   
  }
}
