.white-theme {
  background-color: whitesmoke;
  color: black;
}

.hidden {
  display:none;
}

@media screen and (min-width : 800px) {
  .responsivedesign{
    display : flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .centerrouter{
    width: 100%;
   /* background-image: url("/assets/emojiToile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;*/

  }
}