.white-theme {
  background-color: whitesmoke;
  color: black;
}

.hidden {
  display:none;
}

@media screen and (min-width : 800px) {
  .responsivedesign{
    display : flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .centerrouter{
    width: 100%;
  }
}