
    <div class="responsivedesign">
    <app-header
      class="header"
      (Toggle)="toggleBurger($event)"
      (Profile)="showProfile($event)"
      [isMenuOpen]="showBurger"
    ></app-header>
    <app-menu-burger
      [ngClass]="{ hidden: !showBurger }"
      (MenuClosed)="toggleBurger($event)"
    ></app-menu-burger>
    <app-profil
      *ngIf="showProfileMenu"
    ></app-profil>
    <div class="centerrouter">
    <router-outlet *ngIf="!showBurger && !showProfileMenu"></router-outlet>
</div>
  </div>
<app-footer></app-footer>
