
body{
  background-color: #544d56;
}

.card{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.titre{
  background-clip: initial;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  background: linear-gradient(
            to right, #f32170, #ff6b08,#cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}



