
h1 {
margin-top :35px;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 400px;
  margin: 6px auto 80px ;
  margin-bottom: 20px;

}
.titre {
  background-clip: initial;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.breaker {
  flex-basis: 100%;
  height: 0;
}

.grad1 {
  background: -webkit-linear-gradient(right, #ffff00, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad2 {
  background: -webkit-linear-gradient(right, #1ced00, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad3 {
  background: -webkit-linear-gradient(right, #2387fa, #1ced00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad4 {
  background: -webkit-linear-gradient(right, #de04ff, #2387fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 800px) {
  .card {
    width: 650px;
  }

  h1 {
    font-size: 70px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 800px) {


.titre {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

}

  h1 {
    font-size: 70px;
   margin-top:30px;
  }

.card {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 60px;

}
}
