.quote {
  position: absolute;
  z-index: 0;
  width: 165px;
  height: 75%;
  text-align: center;
  justify-content:flex-start;
}


.container {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  min-height: 205px;
  margin-top: 20px;
  flex-grow: 1;
  z-index: 1;
  border-radius: 10px;
  font-size: 1em;
  img {
    position: absolute;
    width: 165px;
    height: 205px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
  }

}

.container.isClicked {
  z-index: 2;
  margin: 0;
  transition: 1.5s ease-in-out;
  transform: translate(-95px, -95px) scale(2.3) rotate3d(0, 1, 0, 180deg);
  border-radius: 10px;
  img{
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;

  }
}

.container.isRevealed {
  z-index: 2;
  margin: 0;
  transform: translate(-95px, -95px) scale(2.3); /* Pas de rotation */
    border-radius: 10px;
  img {
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    opacity: 0; /* Rendre l'image transparente */
    transform:  rotate3d(0, 1, 0, 180deg);
  }
  p {
    display: block; /* Afficher le texte */
    transform:  rotate3d(0, 1, 0, 180deg);
  }
}


.container.timer {
  z-index: 2;
  margin: 0;
  transition: 1.5s ease-in-out;
  transform: translate(-95px, -95px) scale(2.3) rotate3d(0, 1, 0, 180deg);
  border-radius: 10px;
  img {
    opacity: 0.1;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
     }
  p {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.container.isChecked {
  transition: 1.5s ease-in-out;
  transform: scale(1);
  background-color: rgb(0, 0, 0);
  width: 165px; //rajout de la width de 150px
  justify-content: center;
  border-radius: 10px;
  img {
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    opacity: 0.3;
  }

  p {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  p.isTimedChecked {
    display: none;
  }

}

.retour {
  position: absolute;
  top: 5px;
  right: 5px;
  width:15px;
  height: 15px;
  background-image: url('/assets/IconeReturn6.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transform:  rotate3d(0, 1, 0, 180deg);


}


.retour.isTimedChecked {
  display: none;
}

.check {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url('/assets/iconeCheck.png');
  background-size: cover;
  background-repeat: no-repeat;
  border:none;
  cursor: pointer;
  background-color: transparent;
  transition: 1.5s ease-in-out;

}

.check.isClicked{
  display: none;
}

.share {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 28px;
  width:15px;
  height: 15px;
  background-image: url('/assets/IconeShare6.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent ;
  transform:  rotate3d(0, 1, 0, 180deg);

}

.share.isTimedChecked {
  display: none;
}

.like {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 5px;
  width:15px;
  height: 15px;
  background-image: url('/assets/IconeStar6.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent ;
  transform:  rotate3d(0, 1, 0, 180deg);
}

.like.isTimedChecked {
  display: none;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 150px;
}

.answer{
  position: absolute;
  bottom: 35px;
  transform:  rotate3d(0, 1, 0, 180deg);
  z-index: 2;
  background-image: url('/assets/IconeLoupe4.png');
  background-size: cover;
  background-repeat: no-repeat;
  width:35px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: transparent ;
}


.answer.isTimedChecked {
  display: none;
}

@media screen and (min-width: 800px) {
  .container{
    min-height: 360px;
    min-width: 300px;
    margin-right: 20px;

    img{
      min-width: 300px;
      min-height: 360px;
    }
  }

  .container.isClicked {
    transform: translate(0px, 19px) rotate3d(0, 1, 0, 180deg);
    margin-right: 20px;
  }

  .container.timer {
    transform:   translate(0px, 19px) rotate3d(0, 1, 0, 180deg);
    margin-right: 20px;
  }

  .quote {
    font-size: x-large;
  }
}
