.quote {
  position: absolute;
  z-index: 0;
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.container {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 169px;
  min-height: 209px;
  margin-top: 20px;
  flex-grow: 1;
  z-index: 1;
  border-radius: 10px;
  font-size: small;
  img {
    position: absolute;
    width: 169px;
    height: 209px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
  }

}

.container.isRevealed {
  z-index: 2;
  margin: 0;
  transform: translate(-54%, -56%) scale(2.08); /* Pas de rotation */
    border-radius: 10px;
  img {
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    height: 300px;
    opacity: 0; /* Rendre l'image transparente */
    transform:  rotate3d(0, 1, 0, 180deg);
  }
  p {
    display: block; /* Afficher le texte */
    transform:  rotate3d(0, 1, 0, 180deg);
  }
}

.container.isExpanded {
  height: 300px;  // Double de la hauteur initiale
  z-index: 2;
  margin: 0;
  transition: 1.5s ease-in-out;
  transform: translate(-54%, -56%) scale(2.08) rotate3d(0, 1, 0, 180deg);
  border-radius: 10px;
  img{
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    transform:  rotate3d(0, 1, 0, 180deg);
  }
}

.container.timer {
  z-index: 2;
  margin: 0;
  transition: 1.5s ease-in-out;
  transform: translate(-54%, -56%) scale(2.08) rotate3d(0, 1, 0, 180deg);
  border-radius: 10px;
  height: 300px;
  img {
    opacity: 0.1;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    height: 300px;
     }
  p {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.container.isChecked {
  transition: 1.5s ease-in-out;
  transform: scale(1);
  background-color: rgb(0, 0, 0);
  width: 150px; //rajout de la width de 150px
  justify-content: center;
  border-radius: 10px;
  img {
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    opacity: 0.3;
  }

  p {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  p.isTimedChecked {
    display: none;
  }

}

.retour {
  position: absolute;
  top: 10px;
  right: 10px;
  width:8px;
  height: 8px;
  background-image: url('/assets/retour.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transform:  rotate3d(0, 1, 0, 180deg);
}


.retour.isTimedChecked {
  display: none;
}

.plus {
  z-index: 2;
  position: absolute;
  bottom: 2px;
  right: 12px;
  width:10px;
  height: 10px;
  background-image: url('/assets/Plus.png');
  background-size: cover;
  background-repeat: no-repeat;
  border:none;
  cursor: pointer;
  background-color: transparent;
  transform:  rotate3d(0, 1, 0, 180deg);
}

.plus.isClicked{
  display: none;
}

.share {
  z-index: 2;
  position: absolute;
  bottom: 3px;
  left: 28px;
  width:8px;
  height: 8px;
  background-image: url('/assets/share.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent ;
  transform:  rotate3d(0, 1, 0, 180deg);

}

.share.isTimedChecked {
  display: none;
}

.like {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 5px;
  width:10px;
  height: 10px;
  background-image: url('/assets/like.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent ;
  transform:  rotate3d(0, 1, 0, 180deg);
}

.like.isTimedChecked {
  display: none;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 150px;
}

.answer{
  position: absolute;
  bottom: 3px;
  transform:  rotate3d(0, 1, 0, 180deg);
  z-index: 2;
}
.answer.isTimedChecked {
  display: none;
}

