<div class="container" [ngClass]="{'isClicked' : clicked}" [ngClass]="{'timer' : timed }" [ngClass]="{'isChecked' : checked }" (click)="isClicked()"  >
    <img src="/assets/TristeF1.jpg" alt="Femme demotivée"  >
    <p [ngClass]="{'isTimedChecked' : checkedTimed }" class="quote">{{quote}}</p>

</div>

<!-- <div class="verso">
    <input type="image" src="/assets/backarrow.png" alt="fleche retour" class="return">
  <button class="share">Share</button>
  <button class="like">like</button>
</div> -->


<!-- NgIf au clic


-->
