
<form>
  <h3 class="subtitle">LOGIN</h3>
  <fieldset class="input-with-icon">
    <input type="text" placeholder="👥 Username" required [(ngModel)]="username">
  </fieldset>
  <fieldset>
    <input type="password" placeholder="Password" required [(ngModel)]="password">
  </fieldset>
  <a href="#" (click)="onLinkClick()" [ngClass]="{'visited': isLinkVisited}">Forgot your password?</a>
  <div class="btn">
    <button class="btn-log"  (click)="onSignIn()"(click)="onSettings()">Sign-In</button>
    <button class="btn-log"  type="submit" (click)="login()">Log-In</button>
  </div>
</form>
