.quote {
  position: absolute;
  z-index: 0;
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: center;
}


.container {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 169px;
  min-height: 209px;
  margin-top: 20px;
  flex-grow: 1;
  z-index: 1;
  border-radius: 10px;
  img {
    position: absolute;
    width: 169px;
    height: 209px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;

  }
}

.container.isClicked {
  z-index: 2;
  margin: 0;
  transition: 1.5s ease-in-out;
  transform: translate(-56%, 61%) scale(2.14) rotate3d(0, 1, 0, 180deg);
  border-radius: 10px;
  img{
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;

  }
}

.container.timer {
  z-index: 2;
  margin: 0;
  transition: 1.5s ease-in-out;
  transform: translate(-56%, 61%) scale(2.14) rotate3d(0, 1, 0, 180deg);
  border-radius: 10px;
  height: 315px;
  img {
    opacity: 0.1;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    height: 315px;
     }
  p {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.container.isChecked {
  transition: 1.5s ease-in-out;
  transform: scale(1);
  background-color: rgb(0, 0, 0);
  width: 150px; //rajout de la width de 150px
  justify-content: center;
  border-radius: 10px;
  img {
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    opacity: 0.3;
  }
  p {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  p.isTimedChecked {
    display: none;
  }
}

.retour {
  position: absolute;
  top: 5px;
  right: 5px;
  width:15px;
  height: 15px;
  background-image: url('/assets/IconeRetour2.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  
}

.retour.isTimedChecked {
  display: none;
}

.check {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url('/assets/iconeCheck.png');
  background-size: cover;
  background-repeat: no-repeat;
  border:none;
  cursor: pointer;
  background-color: transparent;
  transition: 1.5s ease-in-out;
}

.check.isClicked{
  display: none;
}
.share {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 28px;
  width:15px;
  height: 15px;
  background-image: url('/assets/IconeShare4.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent ;
  transform:  rotate3d(0, 1, 0, 180deg);

}
.share.isTimedChecked {
  display: none;
}

.like {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 5px;
  width:15px;
  height: 15px;
  background-image: url('/assets/IconeStar4.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent ;
    transform:  rotate3d(0, 1, 0, 180deg);
}

.like.isTimedChecked {
  display: none;
}


.test {
  width: 150px;
  height: 150px;
}



