.quote {
  position: absolute;
  z-index: 0;
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: center;
}

.interdit {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: auto;
}


.container {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  min-height: 200px;
  margin-top: 20px;
  flex-grow: 1;
  z-index: 0;
  border-radius: 10px;
  .angry {
    position: absolute;
    width: 165px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    cursor: pointer;

  }
}

.container.isClicked {
  z-index: 2;
  margin: 0;
  transition: 1.5s ease-in-out;
  transform: translate(-95px, 130px) scale(2.3) rotate3d(0, 1, 0, 180deg);
  border-radius: 10px;
  .angry {
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;

  }
}

.container.timer {
  z-index: 2;
  margin: 0;
  transition: 1.5s ease-in-out;
  transform: translate(-95px, 130px) scale(2.3) rotate3d(0, 1, 0, 180deg);
  border-radius: 10px;

  .angry {
    opacity: 0.1;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;

     }
  p {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

.container.isChecked {
  transition: 1.5s ease-in-out;
  transform: scale(1);
  background-color: rgb(0, 0, 0);
  width: 150px; //rajout de la width de 150px
  justify-content: center;
  border-radius: 10px;
  .angry {
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    opacity: 0.3;
  }
  p {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  p.isTimedChecked {
    display: none;
  }
}

.interdit {
  position: absolute;
  top: 5px;
  left: 5px;
  width:35px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.interdit.isClicked {
  transform:  rotate3d(0, 1, 0, 180deg);
  width:25px;
  height: 25px;
}

.interdit.isTimedChecked {
display: none;}

.retour {
  position: absolute;
  top: 5px;
  right: 5px;
  width:15px;
  height: 15px;
  background-image: url('/assets/IconeReturn6.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transform:  rotate3d(0, 1, 0, 180deg);
}

.retour.isTimedChecked {
  display: none;
}

.check {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url('/assets/iconeCheck.png');
  background-size: cover;
  background-repeat: no-repeat;
  border:none;
  cursor: pointer;
  background-color: transparent;
  transition: 1.5s ease-in-out;
}

.check.isClicked{
  display: none;
}
.share {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 5px;
  width:15px;
  height: 15px;
  background-image: url('/assets/IconeShare6.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent ;
  transform:  rotate3d(0, 1, 0, 180deg);

}
.share.isTimedChecked {
  display: none;
}

.test {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 800px) {
  .container{
    min-height: 260px;
    min-width: 230px;
    margin-right: 20px;

    img{
      min-width: 230px;
      min-height: 260px;
    }
  }

  .container.isClicked {
    transform: translate(0px, 19px) rotate3d(0, 1, 0, 180deg);
    margin-right: 20px;
  }

  .container.timer {
    transform:   translate(0px, 19px) rotate3d(0, 1, 0, 180deg);
    margin-right: 20px;
  }

  .quote {
    font-size: x-large;
          padding-top: 45px;

  }

  .container.timer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .retour {
    top: 5px;
    right: 10px;
    width:25px;
    height: 25px;
  }

  .share {
    left: 10px;
    width:25px;
    height: 25px;
  }

  .interdit.isClicked {
    transform:  rotate3d(0, 1, 0, 180deg);
    width:45px;
    height: 45px;
  }

}
