<h2>Angry quote</h2>


<div class="container" [ngClass]="{'isClicked' : clicked}" [ngClass]="{'timer': timed}"
  [ngClass]="{'isChecked': checked}" (click)="isClicked()">
  <img src="/assets/CartoonVenere1.jpg" alt="personne énervée">
  <div class="hide" *ngIf="clicked || checked || timed">
    <p [ngClass]="{'isTimedChecked': checkedTimed}">{{this.quote}}</p>
    <button [ngClass]="{'isTimedChecked': checkedTimed}">retour</button>
    <button [ngClass]="{'isTimedChecked': checkedTimed}">share</button>
    <button [ngClass]="{'isTimedChecked': checkedTimed}">like</button>
    <button>plus</button>
  </div>
</div>

<!-- *ngIf=" clicked && checked && timed" -->